@import "./mixin-media-queries";

.d-block {
  display: block;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

@include media(sm) {
  .container {
    width: 95%;
  }
}

@include media(md) {
  .container {
    width: 95%;
  }
}
