@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-orange);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$color-primary: mat-color($app-primary);
$color-accent: mat-color($app-accent);
$color-warn: mat-color($app-warn);

$font-color-primary: rgba(
  $color: #fff,
  $alpha: 0.8,
);
$font-color-secondary: rgba(
  $color: #fff,
  $alpha: 0.6,
);
