<section class="home-section container">
  <div class="cover">
    <mat-icon
      style="width: 8rem; height: 8rem; color: black;"
      svgIcon="maloik"
    ></mat-icon>
    <h1 class="mat-display-2">Cisum</h1>
    <h3>small on-line music player</h3>
    <p style="max-width: 300px;">
      Search your favorite artists, listen to their songs and live the best
      sound experience.
    </p>
  </div>

  <div class="last-songs">
    <h3>Latest songs added</h3>

    <div class="songs-box">
      <app-song-box
        *ngFor="let i of [0, 1, 2, 3]"
        [disabled]="songLoading"
        (onloading)="songLoading = $event"
      ></app-song-box>
    </div>
  </div>
</section>
