@import "../../../assets/scss/mixin-media-queries";

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

$font-color-primary: rgba(
  $color: #fff,
  $alpha: 0.8,
);
$font-color-secondary: rgba(
  $color: #fff,
  $alpha: 0.6,
);

.home-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .cover {
    padding-top: 2rem;
    text-align: center;

    h1 {
      margin-bottom: 0rem;
      color: $font-color-primary;
    }

    h3 {
      color: $font-color-primary;
    }

    p {
      color: $font-color-secondary;
    }
  }

  .last-artists {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    padding: 1rem;
  }

  .artist-box {
    box-sizing: border-box;
    position: relative;
    width: 150px;
    height: 200px;
    display: block;
    overflow: hidden;
    padding: 0;
    background-image: url("https://res.cloudinary.com/crisantizan/image/upload/c_fill,h_350,w_250/v1/cisum/artists/5e948c09b6065a001e40f2c5/vcz1gsfuxt9og6rrsfja");
    background-size: cover;
    transform: scale(1);
    transition: transform 100ms ease;
    border-radius: 5px;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }

    span {
      position: absolute;
      width: 87%;
      display: block;
      bottom: 0px;
      padding: 10px;
      background-color: rgba($color: #000000, $alpha: .9);
    }
  }
}

.custom-input {
  display: inline-flex;
  position: relative;
  min-width: 130px;
  width: 60%;
  max-width: 250px;

  mat-icon {
    position: absolute;
    line-height: 36px;
    padding-left: 0.5rem;
    font-size: 18px;
  }
  input {
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    color: white;
    // height: 30px;
    border: 1px solid rgba($color: #fff, $alpha: 0.15);
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 2.2rem;
    &::placeholder {
      font-size: 14px;
    }
  }
}

nav.mat-tab-nav-bar {
  width: 100%;
  border-bottom: none;

  // div .mat-tab-link-container {
  //   // .mat-tab-list {
  //     // display: flex !important;
  //     // justify-content: center !important;
  //     // .mat-tab-links {
  //     // }
  //   // }
  // }
}

mat-sidenav-container {
  mat-sidenav-content {
    mat-toolbar {
      nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          // height: 100%;
          // padding: .5rem;
        }
      }
    }
  }
}

// mat-sidenav-container > mat-sidenav-content > mat-toolbar > nav > div.mat-tab-link-container > div {
//   display: flex !important;
//   justify-content: center !important;
// }

@include media(sm) {
  .tab-nav {
    a {
      display: flex;
      flex-direction: column;
    }
  }
}
