<section class="home-section container">
  <div class="cover">
    <mat-icon
      style="width: 8rem; height: 8rem; color: black;"
      svgIcon="maloik"
    ></mat-icon>
    <h1 class="mat-display-2">Cisum</h1>
    <h3>small on-line music player</h3>
    <p style="max-width: 300px;">
      Search your favorite artists, listen to their songs and live the best
      sound experience.
    </p>
  </div>

  <div class="last-songs">
    <h3>Latest songs added</h3>

    <div class="songs-box">
      <app-song-box
        *ngFor="let song of latestSongs"
        [id]="song.id"
        [name]="song.name"
        [image]="song.image"
        [artist]="{ id: song.id, name: song.species }"
        [disabled]="disabledCards"
        [loadingBar]="false"
        (onClick)="onSelectSong($event)"
        (onClickArtist)="onSelectArtist($event)"
      ></app-song-box>
    </div>
  </div>
</section>
