@import "../../../assets/scss/mixin-media-queries",
  "../../../assets/scss/variables";

.home-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 66px;

  .cover {
    text-align: center;

    h1 {
      margin-bottom: 0rem;
      color: $font-color-primary;
    }

    h3 {
      color: $font-color-primary;
    }

    p {
      color: $font-color-secondary;
    }
  }

  .last-songs {
    border-radius: 5px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
    padding: 1rem;

    .songs-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      * {
        padding: 0.5rem;
      }
    }
  }
}
