<div class="login-container background-pattern">
  <p class="login-title">CISUM</p>
  <mat-card class="login-card">
    <div class="login-form">
      <mat-card-title>
        Log into your account
      </mat-card-title>
      <!-- nick -->
      <mat-form-field class="has-icon" appearance="legacy">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>alternate_email</mat-icon>
        <input matInput autofocus />
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="has-icon" appearance="legacy">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput [type]="hidePass ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePass = !hidePass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePass"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button class="login-btn" mat-raised-button color="primary">
        LOGIN
      </button>
      <p style="text-align: center;">
        Don't have an account?
        <a href="javascript:void(0)" (click)="openRegisterDialog()">sign up</a>
      </p>
    </div>
    <div class="login-image"></div>
  </mat-card>
</div>
