<div class="login-container background-pattern">
  <p class="login-title">CISUM</p>
  <mat-card class="login-card">
    <form [formGroup]="form" class="login-form" (submit)="onSubmit()">
      <mat-card-title>
        Log into your account
      </mat-card-title>
      <!-- nick -->
      <mat-form-field class="has-icon" appearance="legacy">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>alternate_email</mat-icon>
        <input matInput autofocus formControlName="email" autocomplete="off" />
        <mat-error>{{ showEmailError() }}</mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="has-icon" appearance="legacy">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input
          matInput
          [type]="hidePass ? 'password' : 'text'"
          formControlName="password"
          autocomplete="off"
        />
        <mat-error>{{ showPasswordError() }}</mat-error>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePass = !hidePass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePass"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        type="submit"
        class="login-btn"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || loading"
      >
        LOGIN
      </button>
      <p style="text-align: center;">
        Don't have an account?
        <a href="javascript:void(0)" (click)="openRegisterDialog()">sign up</a>
      </p>
    </form>
    <div class="login-image"></div>
  </mat-card>
</div>
