.artist-container {
  margin-bottom: 56px;

  .artist-info {
    display: flex;
    .artist-info-photo {
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      width: 100px;
      height: 100px;
    }

    .artist-info-data {
      padding: 0.5rem;
      h1 {
        margin: 0;
      }
    }
  }

  .artist-albums {
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 1rem;

    .albums {
      display: flex;
      flex-wrap: wrap;
      * {
        margin: .5rem;
      }
    }
  }
}
