<section class="artist-container">
  <div class="artist-info">
    <div
      class="artist-info-photo"
      [style.background-image]="'url(' + artist.image + ')'"
    ></div>
    <h1 class="artist-info-name">{{ artist.name }}</h1>
    <h4 class="artist-info-description">
      {{
        artist.location.name +
          " Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, voluptas. Amet consectetur adipisicing elit. Placeat, volup"
      }}
    </h4>
  </div>

  <div class="artist-albums">
    <div class="artist-albums-title">
      <button
        mat-icon-button
        matTooltip="Back to list"
        matTooltipPosition="above"
        matTooltipClass="song-data-tooltip"
        (click)="backToPrevPage()"
      >
        <mat-icon style="font-size: 18px;">arrow_back_ios</mat-icon>
      </button>
      <h2>Albums</h2>
    </div>

    <div class="albums">
      <app-song-box
        *ngFor="let i of [1, 2, 3, 4, 5]"
        [id]="i"
        [name]="artist.name"
        [image]="artist.image"
        [loadingBar]="false"
        [disabled]="disabledCards"
        [playIcon]="false"
        (onClick)="onSelectAlbum($event)"
      ></app-song-box>
    </div>
  </div>
</section>
