@import "../../../assets/scss/mixin-media-queries",
  "../../../assets/scss/variables";

$height-small: calc(100vh - 139px);
$height: calc(100vh - 146px);

.artists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $height-small;

  h1 {
    text-align: center;
    margin: 0;
  }

  .artists {
    display: flex;
    flex-wrap: wrap;
    * {
      margin: 0.5rem;
    }
  }

  .paginator-data {
    margin: 0.5rem;

    h4 {
      text-align: center;
      margin: 0;
    }
  }
}

::ng-deep .custom-paginator {
  width: 100%;
  border-radius: 5px;

  .mat-paginator-outer-container {
    .mat-paginator-container {
      min-height: 40px;

      .mat-paginator-range-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        .mat-paginator-range-label {
          display: none;
        }
      }
    }
  }
}

@include media(sm) {
  .artists-container {
    justify-content: center;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  ::ng-deep .custom-paginator {
    width: 100%;
    border-radius: 5px;

    .mat-paginator-outer-container {
      .mat-paginator-container {
        min-height: 56px;
      }
    }
  }
}

@media (min-width: 600px) {
  .artists-container {
    height: $height;
  }
}
