<section class="artists-container">
  <h1>Artists</h1>

  <div class="artists">
    <div
      *ngFor="let val of displayValues"
      matRipple
      class="artist-box mat-elevation-z4"
      [style.background-image]="'url(' + val.url + ')'"
    >
      <span>{{ val.id }} - {{ val.title }}</span>
    </div>
  </div>

  <div class="paginator-data">
    <h4>Page {{ currentPage }} of {{ pages }}</h4>
  </div>

  <mat-paginator
    class="custom-paginator"
    [length]="data.length"
    [pageSize]="pageSize"
    [pageIndex]="currentPage - 1"
    hidePageSize
    showFirstLastButtons
    (page)="onChangePage($event)"
  >
  </mat-paginator>
</section>
