<mat-card
  matRipple
  [ngClass]="{ backdrop: showBackdrop || disabled, loading: loading }"
>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <div class="backdrop"></div>
  <!-- cover image -->
  <div
    class="song-cover"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
    [style.background-image]="'url(' + image + ')'"
  >
    <mat-icon
      [class]="{ 'no-play-icon': !playIcon }"
      (click)="onClickPlay(true)"
      disabled
      >{{ playIcon ? "play_arrow" : "launch" }}</mat-icon
    >
  </div>

  <!-- description -->
  <div class="song-data">
    <p
      [matTooltip]="name"
      matTooltipPosition="above"
      matTooltipClass="song-data-tooltip"
      [class]="{ 'no-hover': !playIcon }"
      (click)="onClickPlay(false)"
    >
      {{ name }}
    </p>
    <span
      *ngIf="!!artist"
      [matTooltip]="artist.name"
      matTooltipPosition="above"
      matTooltipClass="song-data-tooltip"
      (click)="onClickArtist()"
      >{{ artist.name }}</span
    >
  </div>
</mat-card>
