<h1 mat-dialog-title>{{ cardTitle }}</h1>
<form [formGroup]="form" (submit)="onSubmit()">
  <section mat-dialog-content>
    <!-- image -->
    <app-image-uploader
      *ngIf="data.mode === 'edit'"
      appGridArea="photo"
      (changeImage)="onChangeImage($event)"
    ></app-image-uploader>
    <!-- name -->
    <mat-form-field appGridArea="name" class="has-icon" appearance="legacy">
      <mat-label>Name</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput formControlName="name" required autocomplete="off" />
      <mat-error>{{ showNameError() }}</mat-error>
    </mat-form-field>

    <!-- surname -->
    <mat-form-field appGridArea="surname" class="has-icon" appearance="legacy">
      <mat-label>Surname</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput formControlName="surname" required autocomplete="off" />
      <mat-error>{{ showSurnameError() }}</mat-error>
    </mat-form-field>

    <!-- email -->
    <mat-form-field
      disabled
      appGridArea="email"
      class="has-icon"
      appearance="legacy"
    >
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>alternate_email</mat-icon>
      <input matInput formControlName="email" required autocomplete="off" />
      <mat-error>{{ showEmailError() }}</mat-error>
    </mat-form-field>

    <!-- password -->
    <mat-form-field appGridArea="password" class="has-icon" appearance="legacy">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input
        matInput
        required
        formControlName="password"
        [type]="hidePass.new ? 'password' : 'text'"
        autocomplete="off"
      />
      <mat-error>{{ showPasswordError() }}</mat-error>
      <button
        (click)="hidePass.new = !hidePass.new"
        mat-icon-button
        matSuffix
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass.new"
        type="button"
      >
        <mat-icon>{{
          hidePass.new ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- verify password -->
    <mat-form-field
      appGridArea="verify-password"
      class="has-icon"
      appearance="legacy"
    >
      <mat-label>Verify password</mat-label>
      <mat-icon matPrefix>vpn_key</mat-icon>
      <input
        matInput
        required
        [type]="hidePass.verify ? 'password' : 'text'"
        formControlName="verifyPassword"
        autocomplete="off"
      />
      <mat-error>{{ showVerifyPasswordError() }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hidePass.verify = !hidePass.verify"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass.verify"
        type="button"
      >
        <mat-icon>{{
          hidePass.verify ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
  </section>

  <section mat-dialog-actions>
    <button mat-flat-button type="button" (click)="onCancel()">CANCEL</button>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      CREATE
    </button>
  </section>
</form>
