<h1 mat-dialog-title>Create account</h1>
<form formGroup="">
  <section mat-dialog-content>
    <!-- name -->
    <mat-form-field appGridArea="name" class="has-icon" appearance="legacy">
      <mat-label>Name</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput />
    </mat-form-field>

    <!-- surname -->
    <mat-form-field appGridArea="surname" class="has-icon" appearance="legacy">
      <mat-label>Surname</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput />
    </mat-form-field>

    <!-- email -->
    <mat-form-field appGridArea="email" class="has-icon" appearance="legacy">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>alternate_email</mat-icon>
      <input matInput />
    </mat-form-field>

    <!-- password -->
    <app-password-field
      appGridArea="password"
      label="Password"
    ></app-password-field>

    <!-- verify password -->
    <app-password-field
      appGridArea="verify-password"
      label="Verify password"
    ></app-password-field>
  </section>

  <section mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>CANCEL</button>
    <button mat-raised-button color="primary" type="submit">CREATE</button>
  </section>
</form>
