@import "../../../assets/scss/mixin-media-queries";

.mat-dialog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;

  grid-template-areas:
    "photo photo"
    "name name"
    "surname surname"
    "email email"
    "password password"
    "verify-password verify-password";
}

.mat-dialog-actions {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

@include media(sm) {
  .mat-dialog-content {
    grid-template-areas:
      "photo photo"
      "name surname"
      "email email"
      "password verify-password";
  }
}
