p.title {
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 0.5rem;
}

section.playing {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;

  .cover {
    max-width: 250px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);

    .data {
      position: absolute;
      padding: 1rem;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);

      span {
        text-align: center;
        // font-weight: bold;

        &:first-child {
          font-size: 1rem;
          letter-spacing: 3px;
        }

        &:last-child {
          font-size: 0.8rem;
          letter-spacing: 2px;
        }
      }
    }
  }

  .tracks {
    margin-top: 1rem;
  }
}

::ng-deep .audio-player-expanded {
  height: 100vh;
  max-width: 900px;
  margin-bottom: 50px;

  &.mat-bottom-sheet-container-medium {
    width: 800px;
  }

  &.mat-bottom-sheet-container-large {
    width: 900px;
  }
}
