<p class="title">PLAYING</p>

<section class="playing">
  <div
    class="cover"
    style="
      background-image: url('https://res.cloudinary.com/crisantizan/image/upload/v1586791740/cisum-test/artists/5e9484fce0d8c02d9fc096e7/albums/5e94853ae0d8c02d9fc096e9/s2g6juxcyor5jh60vo1h.jpg');
    "
  >
    <div class="data">
      <span>Master of Puppets</span>
      <span>Metallica</span>
    </div>
  </div>

  <div class="tracks">
    <p>pista</p>
    <p>pista</p>
    <p>pista</p>
    <p>pista</p>
    <p>pista</p>
    <p>pista</p>
  </div>
</section>
