<div class="audio-container mat-elevation-z8">
  <div class="container" style="position: relative;">
    <audio #songAudio>
      <source
        src="https://res.cloudinary.com/crisantizan/video/upload/v1586791809/cisum-test/artists/5e9484fce0d8c02d9fc096e7/albums/5e94853ae0d8c02d9fc096e9/songs/5e948570e0d8c02d9fc096eb/dm3ascermabojv0pd6sv.mp3"
      />
      Your browers doesn't support the feature
    </audio>

    <!-- song information -->
    <div class="info">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" />
      <div>
        <span>Master of Puppets</span>
        <span>Metallica</span>
      </div>
    </div>

    <!-- player section -->
    <div class="player" [ngClass]="{ 'small-device': xsDevice }">
      <div class="controls">
        <!-- right -->
        <button mat-icon-button class="prev-btn">
          <mat-icon>fast_rewind</mat-icon>
        </button>
        <!-- play -->
        <button mat-icon-button class="play-btn">
          <mat-icon>{{ playerIcon }}</mat-icon>
        </button>
        <!-- left -->
        <button mat-icon-button class="next-btn">
          <mat-icon>fast_forward</mat-icon>
        </button>
      </div>

      <div class="progress">
        <mat-slider
          class="mat-slider-custom"
          value=""
          style="height: 45px;"
        ></mat-slider>

        <!-- volume button -->
        <button mat-icon-button [matMenuTriggerFor]="sliderVolume">
          <mat-icon>{{ volumeIcon }}</mat-icon>
        </button>

        <!-- resize button -->
        <button mat-icon-button class="resize ripple" (click)="onResize()">
          <mat-icon>{{ expanded ? "expand_more" : "expand_less" }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-menu #sliderVolume="matMenu" class="mat-menu-volume" yPosition="above">
  <span class="perc">{{ volume }}</span>
  <mat-slider
    (input)="onVolumeChange($event)"
    thumbLabel
    value="100"
  ></mat-slider>
</mat-menu>
