@import "../../../../assets/scss/mixin-media-queries",
  "../../../../assets/scss/variables";

.audio-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // padding: 0.5rem 0.5rem 0 0.5rem;
  padding: .5rem;
  background-color: rgb(36, 36, 36);
  z-index: 200;
  box-shadow: 0px 0px 20px -12px rgb(0, 0, 0);

  .container {
    margin-bottom: -10px;
  }

  button.resize {
    margin-right: -15px;
  }

  .info {
    display: none;
    min-width: 200px;

    img {
      margin-right: 0.5rem;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    div {
      span {
        display: block;

        &:first-child {
          font-size: 13px;
        }

        &:last-child {
          font-size: 11px;
        }
      }
    }
  }

  .player {
    display: flex;
    align-items: center;

    .progress {
      display: flex;
      width: 100%;

      span {
        display: flex;
        align-items: center;
        margin-left: -5px;
        margin-top: -3px;
        font-size: 11px;
        color: $font-color-secondary;
      }

      mat-slider {
        width: 100%;
        margin: 0 .2rem;
      }
    }

    &.small-device {
      button.play-btn {
        margin-left: -18px;
      }

      button.next-btn,
      button.prev-btn {
        display: none;
      }

      mat-slider {
        width: 90%;
      }
    }

    .controls {
      display: flex;
      justify-content: center;
      margin-top: -10px;
      margin-right: .2rem;

      button.prev-btn {
        margin-left: -15px;
      }
    }
  }
}

@include media(md) {
  .audio-container {
    .container {
      display: flex;
      .info {
        display: flex;
      }

      .player {
        width: 90%;
      }
    }
  }
}

::ng-deep .mat-menu-volume {
  position: relative;
  max-width: 50px !important;
  min-width: 50px !important;
  width: 50px;

  .mat-menu-content {
    overflow-x: hidden;
  }
}
