@import "../../../assets/scss/variables";

.album-container {
  margin-bottom: 56px;

  .album-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .album-info-photo {
      position: relative;
      order: 2;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      min-width: 120px;
      max-width: 250px;
      min-height: 150px;
      margin-bottom: 0.5rem;
      box-shadow: 0px 0px 8px 0px #000;

      .album-info-photo-footer {
        position: absolute;
        bottom: 0;
        background-color: rgba($color: #000, $alpha: 0.7);
        padding: 0.5rem;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: bold;
          letter-spacing: 3px;
          font-size: 16px;
        }
      }
    }

    .album-info-name,
    .album-info-description {
      margin: 0 0 0.5rem 0;
    }

    .album-info-name {
      text-align: center;
      order: 1;
    }

    .album-info-description {
      order: 3;
      text-align: justify;
    }
  }

  .album-songs {
    margin-top: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

    border-radius: 5px;

    .album-songs-title {
      display: flex;
      align-items: center;
      height: 48px;
      padding: 1rem;

      h2 {
        margin: 0;
      }
    }

    .tracks {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      overflow-x: hidden;
      margin-top: 0.5rem;

      .track {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $font-color-primary;
        padding: 0 0.5rem;
        transition: transform 200ms ease;
        padding: 0 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        }

        div {
          display: flex;
          align-items: center;

          span,
          p {
            line-height: 40px;
            margin: 0;
          }

          span.number {
            width: 15px;
            display: none;
            margin-right: 0.5rem;
            justify-content: center;
          }

          p {
            min-width: 115px;
          }
        }

        .duration {
          margin-left: 0.5rem;
          color: $font-color-secondary;
          font-size: 11px;
        }

        &:hover {
          cursor: pointer;
          p {
            color: $color-primary;
          }
          background-color: rgba($color: #000000, $alpha: 0.1);

          transform: scale(1.01);
        }

        &.selected {
          background-color: rgba($color: #000000, $alpha: 0.3);
        }
      }
    }
  }
}

@media (min-width: 550px) {
  .album-container {
    .album-info {
      display: inline-block;

      .album-info-photo {
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 1rem;
      }

      .album-info-name {
        text-align: start;
        margin-top: 0.5rem;
        margin-left: 1rem;
      }

      .album-info-description {
        max-width: calc(500px + 220px);
        margin-left: 1rem;
      }
    }
  }
}

@media (min-width: 650px) {
  .album-container {
    .album-info {
      .album-info-photo {
        height: 150px;
      }
    }
  }
}

@media (min-width: 500px) {
  .album-container {
    .album-songs {
      padding: 1rem;
      .album-songs-title {
        padding: 0;
      }
    }
  }
}

@media (min-width: 400px) {
  .album-container {
    .album-songs {
      .tracks {
        .track {
          div span.number {
            display: block;
          }
        }
      }
    }
  }
}
