<mat-toolbar style="padding: 0;">
  <nav>
    <div class="container">
      <!-- menu button -->
      <button mat-icon-button [matMenuTriggerFor]="searchMenu" class="menu-btn">
        <mat-icon>queue_music</mat-icon>
      </button>
      <!-- navigatiom -->
      <div class="navigation">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
        <a routerLink="/artists" routerLinkActive="active">
          Artists
        </a>
        <a routerLink="/albums" routerLinkActive="active">
          Albums
        </a>
      </div>
      <!-- search bar -->
      <div class="custom-input">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          placeholder="Search for a song"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let song of filteredSongs | async" [value]="song">
            {{ song }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <!-- avatar button -->
      <button mat-icon-button class="avatar-button" [matMenuTriggerFor]="menu">
        <img
          [src]="avatarUrl || '../../../../assets/svg/avatart.svg'"
          alt="Avatar"
          class="avatar"
        />
      </button>
    </div>
  </nav>
</mat-toolbar>

<mat-menu #menu="matMenu" class="mat-menu-padding">
  <button mat-menu-item (click)="openUserDataDialog()">
    <mat-icon>edit</mat-icon>
    <span>Edit my data</span>
  </button>
  <button mat-menu-item (click)="confirmCloseSession()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Close session</span>
  </button>
</mat-menu>

<mat-menu #searchMenu="matMenu" class="mat-menu-padding">
  <button
    mat-menu-item
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item routerLink="/artists" routerLinkActive="active">
    <mat-icon>people_outline</mat-icon>
    <span>Artists</span>
  </button>

  <button mat-menu-item routerLink="/albums" routerLinkActive="active">
    <mat-icon>album</mat-icon>
    <span>Albums</span>
  </button>
</mat-menu>
